In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [2]:
data = pd.DataFrame(pd.read_csv('supplier_data.csv',header=None))
data.head()

          0         1         2         3         4
0  0.329850  0.411722  0.246402  0.031009  0.014190
1  0.022619  0.034263  0.025737  0.710701  0.979093
2  0.038232  0.056699  0.041869  0.645022  0.925975
3  0.034308  0.048584  0.034401  1.062927  0.944803
4  0.267058  0.339074  0.208928  0.025084  0.331389

In [3]:
df = pd.DataFrame(data=None)
df.to_csv('data1.csv',mode='w',index=False,header=False)
x=len(data[1])/6

#Calculate the CEI value of the model
for i in range(int(x)):
    select=[i,i+x*1,i+x*2,i+x*3,i+x*4,i+x*5]
    imf=data.iloc[select,:]
    print(imf)
    scaler = MinMaxScaler()
    scaler.fit(imf)
    imf1=scaler.transform(imf)
    
    list = []
    for j in range(6):
        ce=(imf1[j,0]+imf1[j,1]+imf1[j,2]+imf1[j,3])/4
        list.append(ce)
  
    a=['imf1','imf2','imf3','imf4','imf5','f','g','h','i','k','l']
    if i<1:
        df=pd.DataFrame(list)
    else:
        npdata=np.array(list)
        df.insert(df.shape[1],column=a[i],  value=npdata)
    print('IMF'+str(i+1)+' CEI')
    print(list)
    

df.to_csv('CEI.csv',mode='a',index=False,header=True)

           0         1         2         3         4
0   0.329850  0.411722  0.246402  0.031009  0.014190
4   0.267058  0.339074  0.208928  0.025084  0.331389
8   0.050608  0.066660  0.043387  0.004862  0.974158
12  0.047319  0.062359  0.040614  0.004529  0.977386
16  0.033908  0.042775  0.026076  0.003289  0.989359
20  0.038334  0.047849  0.028636  0.003673  0.986685
IMF1 CEI
[1.0, 0.8017709314088006, 0.06412249363247002, 0.05227441846681193, 0.0, 0.013540586579454464]
           0         1         2         3         4
1   0.022619  0.034263  0.025737  0.710701  0.979093
5   0.026334  0.037816  0.027139  0.865842  0.974533
9   0.037551  0.049487  0.032231  0.976261  0.956387
13  0.044603  0.058535  0.037906  1.179678  0.938981
17  0.034775  0.048684  0.034071  0.991764  0.957791
21  0.040399  0.058029  0.041656  1.105056  0.940031
IMF2 CEI
[0.0, 0.18357812595922302, 0.5701671695961759, 0.9411082060349187, 0.567472072947599, 0.9072060668496829]
           0         1         2         3         4
2   0.038232  0.056699  0.041869  0.645022  0.925975
6   0.047174  0.066708  0.047166  0.768178  0.897531
10  0.031500  0.049392  0.038044  0.537076  0.943823
14  0.050900  0.072435  0.051536  1.202455  0.879183
18  0.053807  0.081867  0.061700  0.891466  0.845670
22  0.043765  0.063576  0.046114  0.731413  0.906928
IMF3 CEI
[0.21267725265847334, 0.4921900737617178, 0.0, 0.787392647707325, 0.8831532138763106, 0.4049452195687984]
           0         1         2         3         4
3   0.034308  0.048584  0.034401  1.062927  0.944803
7   0.032514  0.047062  0.034025  0.742055  0.948207
11  0.033821  0.049278  0.035839  1.043329  0.943215
15  0.040443  0.058126  0.041749  1.082117  0.920993
19  0.045588  0.066142  0.047922  1.567191  0.897697
23  0.043727  0.064822  0.047853  1.496760  0.901740
IMF4 CEI
[0.1582193526713576, 0.0, 0.17794992965588594, 0.5385629347431352, 1.0, 0.9245252815251549]